/* ************************************************************************ Base ************************************************************************ */
/* ==> cible tous les éléments du site */
*{
    box-sizing: border-box;
    /*margin:0;
    padding:0;*/
}

html{
    font-size: 62.5%; /* cela redéfinit la font-size de base à 10px */
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem; /* = 16px */
    color: #555;
    margin: 0;
}

/* ************************************************************************ Sections ************************************************************************ */
